<{include "public/header.html"}>


<div class="right">
	<div class="now">
		<div class="now_l"></div>
		<div class="now_m">
			<span class="fl"><{$title}></span>
			<span class="fr fabu"><a href="admin.php?m=link&a=add">增加链接</a></span>
		</div>
		<div class="now_r"></div>
		<div class="clear"></div>
	</div>
	<form method="post">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
	<input type="hidden" name="id" value="<{$id}>" />
	<tr>
		<td class="bg_f8" align="right" width="100">链接名称：</td>
		<td><input type="text" name="name" value="<{$name}>" class="inputall input300" /> <span class="c888">(如：猿代码)</span></td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">链接地址：</td>
		<td><input type="text" name="url" value="<{$link_url}>" class="inputall input300" /> <span class="c888">(如：http://www.ydma.cn)</span></td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">链接排序：</td>
		<td><input type="text" name="ord" value="<{$ord}>" class="inputall input50" /></td>
	</tr>
	<tr>
		<td class="bg_f8">&nbsp;</td>
		<td><input type="submit" name="do_submit" value="提 交" class="tjbtn"></td>
	</tr>
	</table>
	</form>
</div>

<{include "public/footer.html"}>


	

