<{include "public/header.html"}>

	<!-- content -->
<div class="width980">
	<div class="loginbox">
	   <div class="logintt"><p>用户登录</p></div>
	   <div class="fl login_l">
		<form action="<{$url}>&a=login&fromto=<{urlencode($smarty.get.fromto)}>" method="post" id="form">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
          		  <tr>
				<td width="60">用户名:</td>
              			<td><input type="text" name="name" class="input1" /><span id="user_name_show"></span></td>
           		  </tr>
	 
			  <tr>
				<td>密　码:</td>
               			<td><input type="password" name="pw" class="input1" /><span id="user_pw_show"></span></td>
			  </tr>
		
			  <tr>
				<td></td>
              			<td>
					<input type="submit" name="do_submit" class="btn_05" value="登 录" style="margin:0" />
				</td>
			  </tr>
           	    </table>
		</form>
	</div>

	<div class="fl login_zc">
		<p>如果您尚未注册，请先注册</p>
		<p class="login_lx"><a href="<{$app}>?m=user&a=register&<{bro_fromto()}>" title="注册">注册</a></p>
	</div>
	<div class="clear"></div>
   </div>
</div>



	<!-- footer -->
<{include "public/footer.html"}>


