<{include "public/header.html"}>
<div class="content">
	<{include "user/menu.html"}>
	<div class="fr huiyuan_main">
		<h3 class="hy_rtt"><{$title}></h3>
		<div class="hy_table hy_table2">
		<form action="<{$url}>&a=pw" method="post" id="form">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="bg_f8" style="text-align:right;" width="100">用 户 名：</td>
			<td style="text-align:left;"><{$smarty.session.name}></td>
		</tr>
		<tr>
			<td class="bg_f8" style="text-align:right;"><span class="cred1">*</span> 新 密 码：</td>
			<td style="text-align:left;"><input type="password" name="pw" class="inputall input200" autocomplete="off" /></td>
		</tr>
		<tr>
			<td class="bg_f8" style="text-align:right;"><span class="cred1">*</span> 确认密码：</td>
			<td style="text-align:left;"><input type="password" name="pw1" class="inputall input200" autocomplete="off" /></td>
		</tr>
		<tr>
			<td class="bg_f8"></td>
			<td style="text-align:left;">
		
				<input type="submit" name="do_submit" value="提交"  class="tj_btn" />
			</td>
		</tr>
		</table>
		</form>
		</div>
	</div>
	<div class="clear"></div>
</div>

<{include "public/footer.html"}>

