<{include "public/header.html"}>

<div class="right">
	<div class="now">
		<div class="now_l"></div>
		<div class="now_m">
			<span class="fl"><{$title}></span>
			<span class="fr fabu"><a href="<{$url}>&a=add">增加分类</a></span>
		</div>
		<div class="now_r"></div>
		<div class="clear"></div>
	</div>
	<form action="<{$url}>&a=order" method="post" id="form">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list mat5">
	<tr>
		<td class="bgtt" width="60">ID号</td>
		<td class="bgtt" width="70">排序</td>
		<td class="bgtt">分类名称</td>
		<td class="bgtt" width="88">操作</td>
	</tr>
	
	<{foreach $cats as $v}>
	<tr>
		<td><{$v.id}></td>
		<td><input type="text" name="ord[<{$v.id}>]" value="<{$v.ord}>" class="inputtext input40" /></td>
		<td class="aleft"><{str_repeat("|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", $v.level)}>|-<{$v.catname}></td>
		<td>
			<a href="<{$url}>&a=mod&id=<{$v.id}>&pid=<{$v.pid}>&childs=<{$v.childs}>" class="admin_edit mar3">修改</a>
			<a href="<{$url}>&a=del&id=<{$v.id}>&childs=<{$v.childs}>" class="admin_del" onclick="return confirm('你确定要删除分类<{$v.name}>吗?')">删除</a>
		</td>
	</tr>
	<{/foreach}>
	<tr>
		<td class="bgtt aleft" colspan="5"><input type="submit" name="do_submit" value="批量排序" class="tjbtn"></td>
	</tr>
	</table>
	</form>
</div>

<{include "public/footer.html"}>
