<{include "public/header.html"}>


<div class="right">
	<div class="now">
		<div class="now_l"></div>
		<div class="now_m"><{$title}></div>
		<div class="now_r"></div>
		<div class="clear"></div>
	</div>
	<form action="<{$url}>&a=order" method="post" id="form">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list mat5">
	<tr>
		<td class="bgtt" width="50">排序</td>
		<td class="bgtt" width="150">支付名称</td>
		<td class="bgtt">支付描述</td>
		<td class="bgtt" width="80">启用状态</td>
		<td class="bgtt" width="44">操作</td>
	</tr>
	<{foreach $info_list as $v }>
	<tr>
		<td><input type="text" name="ord[<{$v.id}>]" value="<{$v.ord}>" class="inputtext input40" /></td>
		<td><{$v.name}></td>
		<td class="aleft"><{$v.ptext}></td>
		<td><{if $v.state eq 1 }><span class="cgreen">启用</span><{else}><span class="cred">禁用</span><{/if}></td>
		<td><a href="<{$url}>&a=mod&id=<{$v.id}>" class="admin_edit">修改</a></td>
	</tr>
	<{/foreach}>
		<tr>
		<td class="bgtt aleft" colspan="5">
			<span class="fl"><input type="submit" name="do_submit" value="批量排序" class="tjbtn"></span>
			<span class="fenye"></span>
		</td>
	</tr>
	</table>
	</form>
</div>
	

<{include "public/footer.html"}>
