<{include "public/header.html"}>
<div class="right">
	<div class="now">
		<div class="now_l"></div>
		<div class="now_m">
			<span class="fl"><{$title}></span>
			<span class="fr fabu"><a href="<{$url}>&a=add">发布商品</a></span>
		</div>
		<div class="now_r"></div>
		<div class="clear"></div>
	</div>
	<form method="post" enctype="multipart/form-data">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
		<input type="hidden" name="id" value="<{$id}>">
	<tr>
		<td width="100" class="bg_f8" align="right">商品名称：</td>
		<td colspan="3"><input type="text" name="name" value="<{$name}>" class="inputall input500" maxlength="36" /></td>
		<td rowspan="7" valign="top" width="80">
			<img src="<{thumb($logo, 160, 170)}>" width="160" height="170" style="border:1px solid #ddd; display:block;" />
			<p class="mat5"><input type="file" name="logo" size="12" style="width:160px;" /></p>
		</td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">商品分类：</td>
		<td colspan="3">
			<{$select}>
		</td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">本店价格：</td>
		<td width="250"><input type="text" name="money" value="<{$money}>" class="inputall input100" /> <span class="c888">元</span></td>
		<td width="100" class="bg_f8" align="right">运　　费：</td>
		<td><input type="text" name="wlmoney" value="<{$wlmoney}>" class="inputall input100" /> <span class="c888">元（注：0元为卖家包邮）</span></td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">市场售价：</td>
		<td width="250"><input type="text" name="smoney" value="<{$smoney}>" class="inputall input100" /> <span class="c888">元</span></td>
		<td width="100" class="bg_f8" align="right">特价商品：</td>
		<td><input type="checkbox"  name="istj" <{if $istj eq 1}>checked<{/if}> value="1"/></td>
	</tr>

	<tr>
		<td class="bg_f8" align="right">商品货号：</td>
		<td colspan="3"><input type="text" name="mark" value="<{$mark}>" class="inputall input100" /></td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">库存总量：</td>
		<td colspan="3"><input type="text" name="num" value="<{$num}>" class="inputall input100" /></td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">发布日期：</td>
		<td colspan="3"><{$date}></td>
	</tr>
	</table>
	<div class="mat5"><{$textarea}></div>
	<div class="mat10 center">
		<input type="submit"  name="do_submit"  value="提 交" class="tjbtn" />
	</div>
	</form>
</div>


<{include "public/footer.html"}>
