<{include "public/header.html"}>
<div class="content">
	<{include "user/menu.html"}>
	<div class="fr huiyuan_main">
		<h3 class="hy_rtt"><{$title}></h3>
		<div class="hy_table hy_table2">
		<form action="<{$url}>&a=base" method="post" id="form">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="bg_f8" style="text-align:right;" width="100">用 户 名：</td>
			<td style="text-align:left;"><{$name}></td>
		</tr>
		<tr>
			<td class="bg_f8" style="text-align:right;">收货地址：</td>
			<td style="text-align:left;"><input type="text" name="address" value="<{$address}>" class="inputall input400" /></td>
		</tr>
		<tr>
			<td class="bg_f8" style="text-align:right;">收货姓名：</td>
			<td style="text-align:left;"><input type="text" name="tname" value="<{$tname}>" class="inputall input200" /></td>
		</tr>
		<tr>
			<td class="bg_f8" style="text-align:right;">联系电话：</td>
			<td style="text-align:left;"><input type="text" name="phone" value="<{$phone}>" class="inputall input200" /></td>
		</tr>
		<tr>
			<td class="bg_f8" style="text-align:right;">常用邮箱：</td>
			<td style="text-align:left;"><input type="text" name="email" value="<{$email}>" class="inputall input200" /></td>
		</tr>
		<tr>
			<td class="bg_f8" style="text-align:right;">注册日期：</td>
			<td style="text-align:left;"><{$atime|date_format:'%Y-%m-%d %H:%M'}></td>
		</tr>
		<tr>
			<td class="bg_f8"></td>
			<td style="text-align:left;">
			
				<input type="submit" name="do_submit" value="提交"  class="tj_btn" />
			</td>
		</tr>
		</table>
		</form>
	</div>
	<div class="clear"></div>
</div>
<{include "public/footer.html"}>
