<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="<{$res}>/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<{$public}>/js/jquery.js"></script>
</head>
<body style="background:none">
<form  method="post">
<table style="width:400px;margin:0;" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
<tr>
	<td align="right" class="bg_f8" width="100">快递公司：</td>
	<td>
		<select name="wlname" class="inputselect">
		<option value="">无需快递</option>
		<{foreach $wllist as $v}>
		<option value="<{$v}>"><{$v}></option>
		<{/foreach}>
		</select>
	</td>
</tr>
<tr>
	<td align="right" class="bg_f8">快递单号：</td>
	<td><input type="text" name="wlid" class="inputall input200" /></td>
</tr>
<tr>
	<td class="bg_f8">&nbsp;</td>
	<td>
		<input type="hidden" name="do_submit" />
		<input type="button" value="发 货" class="tjbtn" />
	</td>
</tr>
</table>
</form>
<script type="text/javascript">
$(function(){
$(":button").click(function(){
	if ($(":input[name='wlname']").val() != '' && $(":input[name='wlid']").val() == '') {
		alert('物流编号必须填写');
		return false;
	}
	$("form").submit();
})
})
</script>
</body>
</html>

