<{include "public/header.html"}>

<div class="right">
	<div class="now">
		<div class="now_l"></div>
		<div class="now_m">
			<span class="fl"><{$title}></span>
			<span class="fr fabu"><a href="<{$url}>&a=add">增加广告</a></span>
		</div>
		<div class="now_r"></div>
		<div class="clear"></div>
	</div>
	<form method="post" enctype="multipart/form-data">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
	<input type="hidden" name="id" value="<{$id}>">
	<tr>
		<td class="bg_f8" align="right" width="100">广告位置：</td>
		<td>
			<select name="position" class="inputselect">
				<{foreach $allposition as $k=>$v}>
				<option <{if $k eq $position}> selected <{/if}> value="<{$k}>"><{$v}></option>
				<{/foreach}>
			</select>
		</td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">广告链接：</td>
		<td><input type="text" name="url" value="<{$ad_url}>" class="inputall input500" /></td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">广告图片：</td>
		<td>
			<p><img src="<{thumb($logo, 500, 200)}>" width="500" height="200" style="border:1px solid #ddd" /></p>
			<p><input type="file" name="logo" /></p>
		</td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">广告排序：</td>
		<td><input type="text" name="ord" value="<{$ord}>" class="inputall input50" /></td>
	</tr>
	<tr>
		<td class="bg_f8">&nbsp;</td>
		<td colspan="2"><input type="submit" name="do_submit" value="提 交" class="tjbtn" /></td>
	</tr>
	</table>
	</form>
</div>
	


<{include "public/footer.html"}>
