<{include "public/header.html"}>

<div class="right">
	<div class="now">
		<div class="now_l"></div>
		<div class="now_m">
			<span class="fl">广告列表</span>
			<span class="fr fabu"><a href="<{$url}>&a=add">增加广告</a></span>
		</div>
		<div class="now_r"></div>
		<div class="clear"></div>
	</div>
	<form action="<{$url}>&a=order" method="post" id="form">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list mat5">
	<tr>
		<td class="bgtt" width="50">ID号</td>
		<td class="bgtt" width="50">排序</td>
		<td class="bgtt">广告图片</td>
		<td class="bgtt" width="250">广告位置</td>
		<td class="bgtt" width="88">操作</td>
	</tr>
	
	<{foreach $data as $v}>
	<tr height="60">
		<td>1</td>
		<td><input type="text" name="ord[<{$v.id}>]" value="<{$v.ord}>" class="inputtext input40" /></td>
		<td><a href="" target="_blank"><img src="<{thumb($v.logo, 300, 80)}>" width="300" height="80" /></a></td>
		<td><{$allposition[$v.position]}></td>
		<td>
			<a href="<{$url}>&a=mod&id=<{$v.id}>" class="admin_edit mar3">修改</a>
			<a href="<{$url}>&a=del&id=<{$v.id}>" class="admin_del" onclick="return confirm('你确定要删除吗？')">删除</a>
		</td>
	</tr>
	<{/foreach}>
	<tr>
		<td class="bgtt aleft" colspan="5"><input type="submit" name="do_submit" value="批量排序" class="tjbtn"></td>
	</tr>
	</table>
	</form>
</div>
	



<{include "public/footer.html"}>
