<{include "public/header.html"}>

<div class="right">
	<div class="now">
		<div class="now_l"></div>
		<div class="now_m">
			<span class="fl"><{$title}></span>
			<span class="fr fabu"><a href="<{$url}>&a=add">发布文章</a></span>
		</div>
		<div class="now_r"></div>
		<div class="clear"></div>
	</div>
	<form method="post">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang">
	<input type="hidden" name="id" value="<{$id}>" />
	<tr>
		<td class="bg_f8" align="right" width="100">文章名称：</td>
		<td><input type="text" name="name" value="<{$name}>" class="inputall input500" /></td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">文章分类：</td>
		<td>
			<select name="cid" class="inputselect">
				<{foreach $aclass as $v}>
				<option <{if $v.id eq <{$cid}>}> selected  <{/if}> value="<{$v.id}>" ><{$v.catname}></option>
				<{/foreach}>	
			</select>
		</td>
	</tr>
	<tr>
		<td class="bg_f8" align="right">发布日期：</td>
		<td><{$date}></td>
	</tr>
	<tr>
		<td colspan="2"><{$textarea}></td>
	</tr>
	</table>
	<div class="mat10 center"><input type="submit" name="do_submit" value="提 交" class="tjbtn" /></div>
	</form>
</div>


<{include "public/footer.html"}>
